#########################################################
# macOS
#########################################################

.DS_Store
.AppleDouble
.LSOverride

#########################################################
# Logs
#########################################################

*.log
logs/

#########################################################
# FastQC
#########################################################

*_fastqc.html
*_fastqc.zip

fastqc_raw/
fastqc_trimmed/

#########################################################
# MultiQC
#########################################################

multiqc/

#########################################################
# fastp reports
#########################################################

*.fastp.html
*.fastp.json
reports/

#########################################################
# Temporary completion files
#########################################################

*.done

*_completed/

#########################################################
# Raw sequencing data
#########################################################

*.fastq.gz
*.fq.gz
*.fq

raw/
trimmed/

#########################################################
# Salmon output
#########################################################

salmon/

#########################################################
# Nextflow
#########################################################

work/
.nextflow*
.nextflow.log

#########################################################
# Temporary reference files
#########################################################

tmp/

#########################################################
# Miscellaneous downloads
#########################################################

urls*.txt
robots.txt

#########################################################
# IDE
#########################################################

.vscode/
.idea/

#########################################################
# Python
#########################################################

__pycache__/
*.pyc
*.pdf
*copy*
